USE [master]
GO
/****** Object:  Database [qlshopxe_v2]    Script Date: 12/6/2022 1:33:56 PM ******/
CREATE DATABASE [qlshopxe_v2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlshopxe', FILENAME = N'O:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\qlshopxe_v2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlshopxe_log', FILENAME = N'O:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\qlshopxe_v2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlshopxe_v2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlshopxe_v2]
GO
/****** Object:  User [qlshopxe]    Script Date: 12/6/2022 1:33:56 PM ******/
CREATE USER [qlshopxe] FOR LOGIN [qlshopxe] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ad]    Script Date: 12/6/2022 1:33:56 PM ******/
CREATE USER [ad] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [qlshopxe]
GO
ALTER ROLE [db_owner] ADD MEMBER [ad]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ad]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ad]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ad]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ad]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ad]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ad]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [ad]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [ad]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](250) NULL,
	[pass] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NULL,
	[idsanpham] [int] NULL,
	[tenuser] [nvarchar](250) NULL,
	[chat] [nvarchar](255) NULL,
	[danhgia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietdonhang]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietdonhang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idsanpham] [int] NULL,
	[iddonhang] [int] NULL,
	[ten] [nvarchar](250) NULL,
	[dongia] [money] NULL,
	[soluong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hang]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](250) NULL,
	[gia] [money] NULL,
	[loai] [int] NULL,
	[hang] [int] NULL,
	[imgurl_1] [nvarchar](250) NULL,
	[imgurl_2] [nvarchar](250) NULL,
	[danhgia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/6/2022 1:33:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](250) NULL,
	[email] [nvarchar](250) NULL,
	[sodt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id], [ten], [pass]) VALUES (1, N'adminduy', N'3568')
INSERT [dbo].[admin] ([id], [ten], [pass]) VALUES (2, N'adminbao', N'3568')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[chat] ON 

INSERT [dbo].[chat] ([id], [iduser], [idsanpham], [tenuser], [chat], [danhgia]) VALUES (3, 7, 36, N'anime', N'text', 10)
INSERT [dbo].[chat] ([id], [iduser], [idsanpham], [tenuser], [chat], [danhgia]) VALUES (4, 8, 36, N'duy ngu', N'text', 5)
SET IDENTITY_INSERT [dbo].[chat] OFF
GO
SET IDENTITY_INSERT [dbo].[hang] ON 

INSERT [dbo].[hang] ([id], [ten]) VALUES (1, N'Honda')
INSERT [dbo].[hang] ([id], [ten]) VALUES (2, N'Yamaha')
INSERT [dbo].[hang] ([id], [ten]) VALUES (3, N'Piaggio')
SET IDENTITY_INSERT [dbo].[hang] OFF
GO
SET IDENTITY_INSERT [dbo].[loai] ON 

INSERT [dbo].[loai] ([id], [ten]) VALUES (1, N'xe tay ga')
INSERT [dbo].[loai] ([id], [ten]) VALUES (2, N'xe tay côn')
INSERT [dbo].[loai] ([id], [ten]) VALUES (3, N'xe PKL')
SET IDENTITY_INSERT [dbo].[loai] OFF
GO
SET IDENTITY_INSERT [dbo].[sanpham] ON 

INSERT [dbo].[sanpham] ([id], [ten], [gia], [loai], [hang], [imgurl_1], [imgurl_2], [danhgia]) VALUES (24, N'Air Blade xám', 200.0000, 1, 1, N'/imgxe/chitiet_ab01.jpg', N'/imgxe/chitiet_ab_chung.jpg', NULL)
INSERT [dbo].[sanpham] ([id], [ten], [gia], [loai], [hang], [imgurl_1], [imgurl_2], [danhgia]) VALUES (25, N'Air Blade 2022 xám đen ', 200.0000, 1, 1, N'/imgxe/chitiet_ab01_2022.jpg', N'/imgxe/chitiet_ab_chung.jpg', NULL)
INSERT [dbo].[sanpham] ([id], [ten], [gia], [loai], [hang], [imgurl_1], [imgurl_2], [danhgia]) VALUES (26, N'Air Blade đen', 200.0000, 1, 1, N'/imgxe/chitiet_ab02.jpg', N'/imgxe/chitiet_ab_chung.jpg', NULL)
SET IDENTITY_INSERT [dbo].[sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [ten], [email], [sodt]) VALUES (7, N'anime', N'thichthichich38@gmail.com', 326032299)
INSERT [dbo].[users] ([id], [ten], [email], [sodt]) VALUES (8, N'duy ngu', N'thichthichich3568@gmail.com', 326032299)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[sanpham] ([id])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([hang])
REFERENCES [dbo].[hang] ([id])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([loai])
REFERENCES [dbo].[loai] ([id])
GO
USE [master]
GO
